body{
    background-color: #FBFBFB;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer-bottom {
    position: absolute; 
    bottom: 0;
    width: 100%;
}

.background-homepage{
    background-image: url(./assets/webdev.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
    position: relative;
}

.text-box-homepage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-icons {
    padding-top: 2rem;
    padding-bottom: 7rem;
}
  
.hero-icons .hero-icons-item {
    max-width: 20rem;
}
  
.hero-icons .hero-icons-item .hero-icons-icon {
    height: 7rem;
}
  
.hero-icons .hero-icons-item .hero-icons-icon i {
    font-size: 4.5rem;
}
  
.hero-icons .hero-icons-item:hover .hero-icons-icon i {
    font-size: 5rem;
}